* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.pop_star {
    width: 400px;
    height: 100%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    font-size: 0;
    position: relative;
}

.target_score {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}

.current_score {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}

.selecting_score {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    opacity: 0;
}